<a href="https://colab.research.google.com/github/Hertie-School-Machine-Learning-F2022/git-github-assignment-and-fundamentals-jvsamson/blob/main/problem_set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem set 1

## Student name: 

## Submit by: Thursday 22.09.2022, 23:59

#### You will go over some of the things that we saw in class today, and will answer the quiz based on the outcome of your computational process. You also need to submit the script to demostrate the process you used to get to the answers.

For this problem set you DO NOT NEED to set training and testing data.

## Question 1.

In [29]:
#from sklearn.datasets import load_diabetes and set X and y
from sklearn import datasets

X,y = datasets.load_diabetes(return_X_y = True, as_frame = True)

# Take some time to understand the dataset
# take a look at it as a DataFrame object
X
# For this problem DO NOT SET training and testing data. We will use the same data
# throughout the problem set.

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

How many variables are in X?

## Question 2

In [60]:
# Import the SGD Linear Regression algorithm 
# SGD stands for Stochastic Gradient Descent: the gradient of the loss is 
# estimated each sample at a time and the model is updated along the way 
# with a decreasing strength schedule (aka learning rate).
from sklearn.linear_model import SGDRegressor

# Set it as the mod variable
mod = SGDRegressor()

# Take a look at the parameters

mod.get_params()

{'alpha': 0.0001,
 'average': False,
 'early_stopping': False,
 'epsilon': 0.1,
 'eta0': 0.01,
 'fit_intercept': True,
 'l1_ratio': 0.15,
 'learning_rate': 'invscaling',
 'loss': 'squared_error',
 'max_iter': 1000,
 'n_iter_no_change': 5,
 'penalty': 'l2',
 'power_t': 0.25,
 'random_state': None,
 'shuffle': True,
 'tol': 0.001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

What are the parameters of the Linear Regression model?

## Question 3.

In [63]:
# Import the Standard Scaler and take a look at the parameters
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()

scaler.get_params()

{'copy': True, 'with_mean': True, 'with_std': True}

What are the default option at which with_mean and with_std are set?

## Question 4.

In [32]:
# Create a pipeline using the two previous steps, for the model
# set the SGDRegressor parameter random_state = 123 to reproduce results.

from sklearn.pipeline import Pipeline

pipe = Pipeline([('scalar', StandardScaler()),
                 ('model', SGDRegressor(random_state = 123))
                 ])

#Fit and predict the pipe, print results

pipe.fit(X, y)

pred = pipe.predict(X)

print(pred)

[203.33036868  71.44132129 174.18891477 162.71569477 128.16421117
 106.46855937  78.15730757 121.62004635 158.74826584 213.76124061
 100.98211756 103.73467041 115.03992428 161.20630252 102.6303906
 171.97711381 209.73110688 180.81360592 146.07389902 122.1424965
 117.92285927  90.98734606 118.17218061 274.4655061  163.9397713
 143.2871305   96.67844807 177.95194312 127.41767326 183.54905596
 159.43389974  69.77413097 255.02234683 108.1211581   81.21817834
  83.17022348 207.09177574 154.32172729 241.77566415 134.31684727
 151.34086198  73.70253571 142.29831916  79.3959324  216.42832247
 123.27110149 140.07339717 106.78414486  77.56835256 184.29213326
 157.61488977 166.75142807 133.16057603 157.67450941 141.39374227
  75.07925504 204.50631377  80.93999369  97.49830527 132.8776951
 115.85130194 173.87422053  67.65618223 100.03150385 112.1795103
 184.1488148  143.49271947 122.81903331 111.76812462 123.97308723
  76.74540703 235.144183   147.46308363 121.55975232 149.57473269
 124.7121005  190.81196569  82.50598968 162.69182574  95.1027723
 172.58544777 119.33475818  67.75923536 150.60884639  58.50989203
 169.69041017  51.3669072  150.9479257   79.32981451 104.73385835
  85.51521055 185.76537109 188.74958697  60.35262033 107.21191793
 121.2859701  205.92911181 212.26685332 122.37736338 134.75145114
 166.62990435 106.31417214 149.58343139 157.92751839 157.78117419
 113.12255388  75.72403706 158.45632186 226.25725112 142.17928104
  52.8346843  121.64612857 152.26987817 205.79719773 299.63900785
 189.42447334 210.39811889 236.29276813 161.89872139 147.19410326
 156.65124439 197.16433461 216.67553511 169.36656603 167.66437291
 189.65047402  66.69472666 106.11113547  92.63009737 207.19835869
 242.52672837  71.6606423  112.65164735  72.20081735 141.38632861
 235.87251642  61.88075408 232.10360787 252.01827862 251.65460328
 156.79879385 224.61294554 170.19929963 119.0307146  174.89822767
 239.97361304 187.5055852  226.04102065 114.87955468 173.94988424
 208.7187044  142.2357548  194.39908199 121.98001186 148.92972557
 197.80197684 145.26428014 121.00435508  85.20442123 233.82408593
  83.42011817 233.31480386 143.53728735 196.87872055 142.41203067
  78.10987803  64.41080911 265.00478305 223.63388758 242.36908953
  55.72533956  90.14528615 223.23871675  94.21769515 160.90740378
 120.13898939 156.16607642 222.48536334 102.33969786 162.87688933
 175.01994871  89.79996523 168.67228455 154.94339041 198.92136846
 184.90087667 192.42275394  73.2804659  153.32854153 113.72909811
 191.27542161 124.46814344  92.77290759 137.62998346 151.92841821
 167.56351644  98.29829202 186.71357717 149.7984103  182.18834842
  95.87034721  71.37153672 169.92717213 193.55305668 174.40860096
 226.9197531  157.3651685  211.70613335 220.15077897 169.69166378
 127.54360006 176.05902416 151.46958199  98.18049241  98.35164987
 260.31399485 217.11748946 220.08528118 129.04607545 140.61570336
  63.69376107 139.30738756 151.27485064 122.31652143  77.26802291
 228.40150955  78.75829421 105.66217911 116.72378588  98.55341646
 166.80943996 156.03780804 154.61156079 142.3318397  231.76068864
 173.43499816 184.87492177  67.57420893 184.36822056 180.23443409
 231.50941695 119.7283982   91.0164206  101.0202656  141.22764132
 102.2467612  119.30233129  79.01494123 233.69890411 246.29026699
 265.97977392 276.43802536 178.67875924 201.36439611 269.00727773
 115.38730914 264.76873113 101.13870949 114.91784553 142.06672829
  63.98321686 125.71190857 260.74884705  49.81008443 128.03522317
 127.62211101  40.97504872 136.16849495 240.35873488  86.99648464
 188.94254986 163.08976873 146.45510848 201.63983265 173.21401106
 154.73865573 190.59876976 113.87848455 108.43529333 116.25623995
 162.34623229  91.83392276 139.00437063  88.4600844  156.77810215
 197.60947042  74.9431812  146.05014061  85.17109857 189.7366765
 218.39780582 205.16835366  95.6333142  183.78661444  88.74919092
 151.03261475  79.67642247 103.08123338 106.25982333 122.26215649
 216.33562098 124.44773762 204.5196202  233.48545039 121.63750246
 129.51708733 128.42869874 144.97534245  90.71269239 137.41136777
 203.61181883 170.86604553 124.10298896 212.13042631 173.0344333
 109.28587161 198.33337411 170.63442203 160.79415054 188.36166002
 188.18160056 288.51818828 297.00236448 233.9164236  208.01287929
 219.32445962 152.68414553 223.20503021 186.04682507 101.59423882
 176.30404423 111.84980534 290.15090958 178.6441829   82.34863793
  88.1395379  249.41219398 170.21585515 121.96900703 145.35743988
 172.14916608 184.06998175 164.29759794 161.68519525 141.26678785
 123.0030275  178.5926205  100.62550248 128.61156807  96.43474716
 250.72873813  87.90625887  56.74732283 178.96363024 195.88158341
 132.45479259  92.63140168 200.01686594  59.01639187 170.58898565
 193.50369168 124.62868887 232.83994174 159.81611779 155.8074659
 159.4751174  254.23576016 255.36697121 200.05054173 182.10887183
  61.24039547 209.83294999 107.66700242 142.72050044 124.28676965
 177.0138496  210.13460863 165.28066778 160.56524024 136.56036758
 177.55772524  71.07873418 256.74435918 113.01909057 110.63502125
 138.51887819 109.28250958 102.39175693 160.08617321  76.02323398
 263.53861976  60.46745786  99.65998995 101.36950417 278.21928867
 166.00002992  69.94020257 179.21005389 170.79218909 187.85617899
 186.10095898  87.97786328 142.96294571 251.67805277 200.29291231
 279.99205068  52.37095333 175.91970653 202.67066048 169.80710095
 157.97464162 154.5090638  231.09263201 122.61915047 163.34930459
 167.81518118 227.67799386 152.46856881  99.31689476  84.94386369
 140.02823692 188.62630734 198.79552478 147.71537973 167.28610439
 109.25282112 159.19445388 130.81133824 258.67551396 101.05021313
 113.2915116  119.87279158 217.75415024  61.70158597 134.43935786
 120.3504542   55.06892187 190.95036467 100.82225143 123.33109822
 209.32369093  47.94763424]

What are the first 4 predicted values?

Question 5.

In [33]:
# Now create a GridSearchCV Object using the previous pipe object,
# where the parameter 'model__alpa' is set to try 0.0001, 0.005, 0.001.
# Set cross validation to 3 times.
from sklearn.model_selection import GridSearchCV

mod = GridSearchCV(estimator = pipe,
                   param_grid={'model__alpha': [0.0001, 0.005, 0.001]},
                   cv = 3)

How are you supposed to write the values of the parameter 'alpha'?

Question 6.

In [34]:
# Now fit the GridSearch model from above and see the results 
# (Hint: to make sure we all get the same results, you had to use the pipe that
# was set in question 4 making sure we used the same random_state = 123)
import pandas as pd

mod.fit(X, y)

pd.DataFrame(mod.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_model__alpha,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004286,0.000858,0.001427,0.000332,0.0001,{'model__alpha': 0.0001},0.466105,0.489906,0.502306,0.486106,0.015021,3
1,0.003197,0.000155,0.001152,0.000006,0.005,{'model__alpha': 0.005},0.465869,0.490301,0.502853,0.486341,0.015356,1
2,0.003173,0.000142,0.001145,0.000004,0.001,{'model__alpha': 0.001},0.466062,0.489980,0.502408,0.486150,0.015083,2

Which is the best model? Look at the rank_test_value

Question 7.

Find out which test score is the one that is reported above in mean_test_score. What is it and how do you interpret this results?